@media only screen and (min-width:1400px) and (max-width:2000px)
    {
        body{
            background-color: beige;
        }
        
        .one{
            height: 400px;
            width: 400px;
            background-color: purple;
        }
    }
    
    @media only screen and (min-width:1000px) and (max-width:1399px)
    {
        body{
            background-color: rgb(37, 124, 30);
        }
        
        .one{
            height: 400px;
            width: 400px;
            background-color: rgb(49, 49, 130);
        }
    }
    
    @media only screen and (min-width:700px) and (max-width:999px)
    {
        body{
            background-color: rgb(207, 17, 17);
        }
        
        .one{
            height: 400px;
            width: 400px;
            background-color: rgb(1, 0, 1);
        }
        .two{
            text-align: center;
            font-size: 30px;
            color: rgb(19, 19, 88);
        
         }   
        
    }

    @media only screen and (min-width:300px) and (max-width:699px)
    {
        body{
            background-color: rgb(226, 195, 17);
        }
        
        .one{
            height: 400px;
            width: 400px;
            background-color: rgb(15, 16, 95);
        }
    .rock{
        display: none;
    }
      
    }
 
    
